{{> admin/sidebar}}
{{> admin/header}}

<section>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-10 col-md-8 ml-auto">
                <div class="row align-items-center pt-md-5 mt-md-5 mb-5">
                    <div class="col-5 mb-4 mb-xl-0">
                    </div>
                    <div class="col-5 mb-4 mb-xl-0">
                        <form id="form-search" class="form-inline d-none d-lg-block">
                            <input class="form-control mx-2 my-2" type="text" placeholder="Keyword"
                                   name="keyword" value="{{searchKeyword}}">
                            <button class="btn btn-light btn-outline-secondary" type="submit">
                                <i class="fa fa-search" aria-hidden="true"></i>
                            </button>
                        </form>
                    </div>
                    {{#if (includes role.permissions 'category_create')}}
                        <div class="col-2 mb-4 mb-xl-0">
                            <a href="{{prefixAdmin}}/coupons/create" class="btn btn-outline-success text-center">
                                <i class="fa fa-plus-circle fa-lg mr-1"></i>Create new</a>
                        </div>
                    {{/if}}
                    <div class="col-12 mb-4 mb-xl-0 mt-5">
                        <h4 class="text-muted text-center mb-3">Coupons</h4>
                        <table class="table bg-light table-striped text-center" id="coupons">
                            <thead>
                            <tr class="text-muted">
                                <th>#No</th>
                                <th>Code</th>
                                <th>Discount Type</th>
                                <th>Discount Value</th>
                                <th>Min Order Value</th>
                                <th>Expiration Date</th>
                                <th>Status</th>
                                <th>Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            {{#each coupons}}
                                <tr>
                                    <td class="align-middle">{{#add @index 1}}{{/add}}</td>
                                    <td class="align-middle">{{this.code}}</td>
                                    <td class="align-middle">
                                        {{#ifEqual this.discountType 'percentage'}}
                                            Percentage
                                        {{else}}
                                            Fixed Amount
                                        {{/ifEqual}}
                                    </td>
                                    <td class="align-middle">
                                        {{#ifEqual this.discountType 'percentage'}}
                                            {{this.discountValue}}%
                                        {{else}}
                                            ${{this.discountValue}}
                                        {{/ifEqual}}
                                    </td>
                                    <td class="align-middle">${{this.minimumOrderValue}}</td>
                                    <td class="align-middle">{{parseDate this.expirationDate}}</td>
                                    <td class="align-middle">
                                        {{#if this.isActive}}
                                            <a href="javascript:;"
                                               class="badge badge-success"
                                               data-id="{{this._id}}"
                                               data-status="active"
                                                {{#if (includes ../role.permissions 'coupon_edit')}}
                                               button-change-status{{/if}}>Active</a>
                                        {{else}}
                                            <a href="javascript:;"
                                               class="badge badge-danger"
                                               data-id="{{this._id}}"
                                               data-status="inactive"
                                                {{#if (includes ../role.permissions 'coupon_edit')}}
                                               button-change-status{{/if}}>Inactive</a>
                                        {{/if}}
                                    </td>
                                    <td class="align-middle">
                                        {{#if (includes ../role.permissions 'coupon_edit')}}
                                            <a href="/admin/coupons/edit/{{this._id}}" class="btn btn-sm btn-outline-primary">Edit</a>
                                        {{/if}}
                                        {{#if (includes ../role.permissions 'coupon_delete')}}
                                            <button class="btn btn-sm btn-outline-danger"
                                                    data-id="{{this._id}}"
                                                    button-delete>Delete</button>
                                        {{/if}}
                                    </td>
                                </tr>
                            {{/each}}
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<form action="" method="POST" id="form-delete-item" data-path="{{prefixAdmin}}/coupons/delete">
</form>

<form action="" method="POST" id="form-change-status" data-path="{{prefixAdmin}}/coupons/change-status">
</form>

<script src="/admin/js/coupon.js"></script>