{{> client/preloader}}
{{> client/header}}
{{> client/breadcrumb}}

<main>
    <!-- shop-area start -->
    <section class="shop-area pt-100 pb-100">
        <div class="container">
            <div class="row">
                <div class="col-xl-4 col-lg-4">
                    <div class="sidebar-box mb-30">

                        <div class="shop-widget">
                            <h3 class="shop-title">Search by</h3>
                            <form action="#" class="shop-search">
                                <input type="text" placeholder="Your keyword...." required>
                                <button><i class="fa fa-search"></i></button>
                            </form>
                        </div>

                        <div class="shop-widget">
                            <h3 class="shop-title">Price Filter</h3>
                            <div class="price-filter">
                                <div id="slider-range" data-slider-min="{{minPrice}}" data-slider-max="{{maxPrice}}"></div>
                                <input type="text" id="amount">
                            </div>
                        </div>

                        <div class="shop-widget">
                            <h3 class="shop-title">Product Size</h3>
                            <ul class="shop-link">
                                <li><a href="#" class="product-size-filter"><i class="far fa-square"></i> L</a></li>
                                <li><a href="#" class="product-size-filter"><i class="far fa-square"></i> M</a></li>
                                <li><a href="#" class="product-size-filter"><i class="far fa-square"></i> X</a></li>
                                <li><a href="#" class="product-size-filter"><i class="far fa-square"></i> XL</a></li>
                                <li><a href="#" class="product-size-filter"><i class="far fa-square"></i> XXL</a></li>
                            </ul>
                        </div>

                        <div class="shop-widget">
                            <h3 class="shop-title">Catergories</h3>
                            <ul class="shop-link">
                                {{#each categories}}
                                    <li><a href="#" class="category-filter"><i class="far fa-square"></i> {{this.name}} </a></li>
                                {{/each}}
                            </ul>
                        </div>

                        <div class="shop-widget">
                            <h3 class="shop-title">color</h3>
                            <ul class="shop-link">
                                <li><a href="#" class="color-filter"><span class="blue"></span> Blue</a></li>
                                <li><a href="#" class="color-filter"><span class="green"></span> Green</a></li>
                                <li><a href="#" class="color-filter"><span class="orange"></span> Orange</a></li>
                                <li><a href="#" class="color-filter"><span class="navy"></span> Navy</a></li>
                                <li><a href="#" class="color-filter"><span class="pinkish"></span> Pinkish</a></li>
                                <li><a href="#" class="color-filter"><span class="vista"></span> Vista Blue</a></li>
                                <li><a href="#" class="color-filter"><span class="black"></span> Black</a></li>
                                <li><a href="#" class="color-filter"><span class="white"></span> White</a></li>
                            </ul>
                        </div>

                        <div class="shop-widget">
                            <h3 class="shop-title">Recent Product</h3>
                            <ul class="shop-sidebar-product">
                                <li>
                                    <div class="side-pro-img">
                                        <a href="product-details.html"><img src="/client/img/product/latest/shop-rsp1.jpg" alt=""></a>
                                    </div>
                                    <div class="side-pro-content">
                                        <div class="side-pro-rating">
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                        </div>
                                        <h5><a href="product-details.html">Raglan Baseball-Style</a></h5>
                                        <div class="side-pro-price">
                                            <span>$119.00 USD</span>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="side-pro-img">
                                        <a href="product-details.html"><img src="/client/img/product/latest/shop-rsp3.jpg" alt=""></a>
                                    </div>
                                    <div class="side-pro-content">
                                        <div class="side-pro-rating">
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                        </div>
                                        <h5><a href="product-details.html">Raglan Baseball-Style</a></h5>
                                        <div class="side-pro-price">
                                            <span>$119.00 USD</span>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="side-pro-img">
                                        <a href="product-details.html"><img src="/client/img/product/latest/shop-rsp2.jpg" alt=""></a>
                                    </div>
                                    <div class="side-pro-content">
                                        <div class="side-pro-rating">
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                        </div>
                                        <h5><a href="product-details.html">Raglan Baseball-Style</a></h5>
                                        <div class="side-pro-price">
                                            <span>$119.00 USD</span>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="side-pro-img">
                                        <a href="product-details.html"><img src="/client/img/product/latest/shop-rsp4.jpg" alt=""></a>
                                    </div>
                                    <div class="side-pro-content">
                                        <div class="side-pro-rating">
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                        </div>
                                        <h5><a href="product-details.html">Raglan Baseball-Style</a></h5>
                                        <div class="side-pro-price">
                                            <span>$119.00 USD</span>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>

                        <div class="shop-widget">
                            <div class="shop-sidebar-banner">
                                <a href="/shop"><img src="/client/img/banner/shop-banner.jpg" alt=""></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-8 col-lg-8">
                    <div class="shop-banner mb-50">
                        <img src="/client/img/bg/shop-banner.jpg" alt="">
                    </div>

                    <!-- tab filter -->
                    <div class="row mb-10">
                        <div class="col-xl-5 col-lg-6 col-md-6">
                            <div class="product-showing mb-40">
                                {{#if products}}
                                    <p>Showing {{startIndex}}–{{endIndex}} of {{totalMatchingProducts}} results</p>
                                {{else}}
                                    <p>Showing 0 results</p>
                                {{/if}}
                            </div>
                        </div>
                        <div class="col-xl-7 col-lg-6 col-md-6">
                            <div class="shop-tab f-right">
                                <ul class="nav text-center" id="myTab" role="tablist">
                                    <li class="nav-item">
                                        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home"
                                           aria-selected="true"><i class="fas fa-th-large"></i> </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile"
                                           aria-selected="false"><i class="fas fa-list-ul"></i></a>
                                    </li>
                                </ul>
                            </div>
                            <div class="pro-filter mb-40 f-right">
                                <form action="#">
                                    <select name="sortBy" id="pro-filter">
                                        <option value="name_asc">Name: A-Z</option>
                                        <option value="name_desc">Name: Z-A</option>
                                        <option value="price_asc">Price: Low to High</option>
                                        <option value="price_desc">Price: High to Low</option>
                                        <option value="top_sales">Top Sales </option>
                                        <option value="new_product">New Product </option>
                                    </select>
                                </form>
                            </div>
                        </div>
                    </div>

                    <!-- tab content -->
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                            <div class="row">
                                {{#each products}}
                                    <div class="col-lg-6 col-md-6">
                                        <div class="product-wrapper mb-50">
                                            <div class="product-img mb-25">
                                                <a href="/product/{{this.slug}}">
                                                    <img src="{{getFirstImage this.images}}" alt="{{this.name}}">
                                                    <img class="secondary-img" src="{{getSecondImage this.images}}" alt="{{this.name}}">
                                                </a>
                                                <div class="product-action text-center">
                                                    <a href="/product/{{this.slug}}" title="Quick View">
                                                        <i class="flaticon-eye"></i>
                                                    </a>
                                                    <a class="add-to-cart-btn" href="#" title="Shopping Cart">
                                                        <i class="flaticon-shopping-cart"></i>
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="product-content">
                                                <div class="pro-cat mb-10">
                                                    <a href="#">{{this.brand}} - </a>
                                                    <a href="#">{{this.subcategory}}</a>
                                                </div>
                                                <h4>
                                                    <a href="/product/{{this.slug}}">{{this.name}}</a>
                                                </h4>
                                                <div class="product-meta">
                                                    <div class="pro-price">
                                                        <span>{{#currencyUSD this.minPrice}}{{/currencyUSD}} USD</span>
                                                        <span class="old-price">{{#currencyUSD this.maxPrice}}{{/currencyUSD}} USD</span>
                                                    </div>
                                                </div>
                                                <div class="product-wishlist">
                                                    {{#if isAuthenticated}}
                                                        <a href="javascript:void(0);" class="wishlist-btn" data-product-id="{{this._id}}" data-action="add">
                                                            <i class="far fa-heart"></i>
                                                        </a>
                                                    {{else}}
                                                        <a href="/auth/login" class="wishlist-btn" data-product-id="{{this._id}}" data-action="add">
                                                            <i class="far fa-heart"></i>
                                                        </a>
                                                    {{/if}}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {{/each}}
                            </div>
                        </div>
                        <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                            <div class="row">
                                {{#each products}}
                                    <div class="col-xl-5">
                                        <div class="product-wrapper mb-30">
                                            <div class="product-img">
                                                <a href="/product/{{this.slug}}">
                                                    <img src="{{getFirstImage this.images}}" alt="{{this.name}}">
                                                    <img class="secondary-img" src="{{getSecondImage this.images}}" alt="{{this.name}}">
                                                </a>
                                                <div class="sale-tag">
                                                    <span class="new">new</span>
                                                    <span class="sale">sale</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-7">
                                        <div class="product-content pro-list-content pr-0 mb-50">
                                            <div class="pro-cat mb-10">
                                                <a href="#">{{this.brand}} - </a>
                                                <a href="#">{{this.subcategory}}</a>
                                            </div>
                                            <h4>
                                                <a href="#">{{this.name}}</a>
                                            </h4>
                                            <div class="product-meta">
                                                <div class="pro-price">
                                                    <span>{{#currencyUSD this.minPrice}}{{/currencyUSD}} USD</span>
                                                    <span class="old-price">{{#currencyUSD this.maxPrice}}{{/currencyUSD}} USD$</span>
                                                </div>
                                            </div>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
                                                aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                                            <div class="product-action">
                                                <a href="/product/{{this.slug}}" title="Quick View">
                                                    <i class="flaticon-eye"></i>
                                                </a>
                                                <a class="add-to-cart-btn" href="#" title="Shopping Cart">
                                                    <i class="flaticon-shopping-cart"></i>
                                                </a>
                                                <div class="product-wishlist">
                                                    {{#if isAuthenticated}}
                                                        <a href="javascript:void(0);" class="wishlist-btn" data-product-id="{{this._id}}" data-action="add">
                                                            <i class="far fa-heart"></i>
                                                        </a>
                                                    {{else}}
                                                        <a href="/auth/login" class="wishlist-btn" data-product-id="{{this._id}}" data-action="add">
                                                            <i class="far fa-heart"></i>
                                                        </a>
                                                    {{/if}}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {{/each}}
                            </div>
                        </div>
                        <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                            <div class="row">
                                <h1>HELLO1</h1>
                            </div>
                        </div>
                    </div>
                    {{#if products}}
                        <div class="basic-pagination basic-pagination-2 text-center mt-20 mb-0">
                            <ul>
                                <li><a href="#" onclick="setQueryParam('page', 1)"><i class="fas fa-angle-double-left"></i></a></li>
                                {{#each (range (max 1 (subtract page 5)) (min totalPages (add page 5)))}}
                                    {{#ifEqual this ../page}}
                                        <li class="active" onclick="setQueryParam('page', {{this}})"><a href="#">{{this}}</a></li>
                                    {{else}}
                                        <li><a href="#" onclick="setQueryParam('page', {{this}})">{{this}}</a></li>
                                    {{/ifEqual}}
                                {{/each}}
                                {{#if (greaterThan page 1)}}
                                    <li><a href="#"><i class="fas fa-ellipsis-h"></i></a></li>
                                {{/if}}
                                <li><a href="#" onclick="setQueryParam('page', {{totalPages}})"><i class="fas fa-angle-double-right"></i></a></li>
                            </ul>
                        </div>
                    {{/if}}
                </div>
            </div>
        </div>
    </section>
</main>


<script>
    function setQueryParam(paramToChange, newValue) {
        const params = new URLSearchParams(window.location.search);
        params.set(paramToChange, newValue);
        window.location.href = `${window.location.pathname}?${params.toString()}`;
    }

    const params = new URLSearchParams(window.location.search);

    // Handle keyword filter
    const keywordFilterForm = document.querySelector(".shop-search");
    const keywordInput = keywordFilterForm.querySelector("input");

    keywordFilterForm.addEventListener('submit', function (event) {
        event.preventDefault();

        params.set('keyword', keywordInput.value);
        window.location.href = `${window.location.pathname}?${params.toString()}`;
    });

    const keywordValue = params.get("keyword");
    if (keywordValue) {
        keywordInput.value = keywordValue;
    }

    // Handle size filter
    const sizes = params.getAll('size');
    const productSizeFilterElements = document.querySelectorAll('.product-size-filter')

    productSizeFilterElements.forEach(e => {
        const size = e.textContent.trim();
        if (sizes.includes(size)) {
            e.classList.add('active');
            e.children.item(0).className = 'far fa-check-square';

            e.addEventListener('click', () => {
                params.delete('size', size);
                window.location.href = `${window.location.pathname}?${params.toString()}`;
            });
        } else {
            e.addEventListener('click', () => {
                params.append('size', size);
                window.location.href = `${window.location.pathname}?${params.toString()}`;
            });
        }
    });

    // Handle category filter
    const categories = params.getAll('category');
    const categoryFilterElements = document.querySelectorAll('.category-filter');

    categoryFilterElements.forEach(e => {
       const category = e.textContent.trim();
       if (categories.includes(category)) {
           e.classList.add('active');
           e.children.item(0).className = 'far fa-check-square';

           e.addEventListener('click', () => {
               params.delete('category', category);
               window.location.href = `${window.location.pathname}?${params.toString()}`;
           });
       } else {
           e.addEventListener('click', () => {
               params.append('category', category);
               window.location.href = `${window.location.pathname}?${params.toString()}`;
           });
       }
    });
    
    // Handle color filter
    const colors = params.getAll('color');
    const colorFilterElements = document.querySelectorAll('.color-filter');
    
    colorFilterElements.forEach(e => {
        const color = e.textContent.trim();
        if (colors.includes(color)) {
            e.classList.add('active');

            e.addEventListener('click', () => {
                params.delete('color', color);
                window.location.href = `${window.location.pathname}?${params.toString()}`;
            });
        } else {
            e.addEventListener('click', () => {
                params.append('color', color);
                window.location.href = `${window.location.pathname}?${params.toString()}`;
            });
        }
    });

    // Change sort type
    const orderBySelect = document.querySelector("select[name=sortBy]");
    orderBySelect.addEventListener('change', function (event) {
        params.set('sortBy', this.value);
        window.location.href = `${window.location.pathname}?${params.toString()}`;
    });
</script>


{{> client/footer}}