{{> client/preloader}}
{{> client/header}}
{{> client/breadcrumb}}

<!-- checkout-area start -->
<section class="checkout-area pb-70">
    <div class="container">
        <form action="#">
            <div class="row">
                <div class="col-lg-6">
                    <div class="checkbox-form">
                        <h3>Billing Details</h3>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="checkout-form-list">
                                    <label>Name <span class="required">*</span></label>
                                    <input type="text" placeholder="" value="{{user.fullName}}"/>
                                </div>
                            </div>

                            {{#each user.address}}
                               <div class="col-md-12">
                                   <label class="address-card">
                                       <input type="radio" name="address" value="{{@index}}">
                                       <div>
                                           <p><strong>Phone:</strong> {{this.phone}}</p>
                                           <p><strong>Address:</strong> {{this.street}}, {{this.ward}}, {{this.district}}, {{this.province}}</p>
                                       </div>
                                   </label>
                               </div>
                            {{/each}}

                           <div class="col-md-12">
                               <label class="add-address address-card">
                                   <input type="radio" name="address" value="new-address">
                                   <strong>+ Add new address</strong>
                               </label>
                           </div>

                            <div class="col-md-12 shipping-address">
                                <div class="col-md-12">
                                    <div class="checkout-form-list">
                                        <label for="phone">Phone <span class="required">*</span></label>
                                        <input type="text" id="phone" class="phone" placeholder="Phone" />
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="checkout-form-list">
                                        <label for="province">Province <span class="required">*</span></label>
                                        <select class="form-control" id="province" name="province">
                                            <option value="">Select Province/City</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <div class="checkout-form-list">
                                        <label for="district">District <span class="required">*</span></label>
                                        <select class="form-control" id="district" name="district">
                                            <option value="">Select District</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <div class="checkout-form-list">
                                        <label for="ward">Ward <span class="required">*</span></label>
                                        <select class="form-control" id="ward" name="ward">
                                            <option value="">Select Ward</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <div class="checkout-form-list">
                                        <label for="street">Street<span class="required">*</span></label>
                                        <input type="text" id="street" name="street" placeholder="Street address" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="order-notes">
                            <div class="checkout-form-list">
                                <label>Order Notes</label>
                                <textarea id="checkout-mess" cols="30" rows="10" placeholder="Notes about your order, e.g. special notes for delivery."></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="your-order mb-30">
                        <h3>Your Order</h3>
                        <div class="your-order-table table-responsive">
                            <table class="checkout-table">
                                <thead>
                                    <tr>
                                        <th class="product-name font-weight-bold">Product</th>
                                        <th class="product-total font-weight-bold">Total</th>
                                    </tr>
                                </thead>
                                <tbody>
                                {{#each cart.products}}
                                    <tr class="cart_item">
                                        <td class="product-name">
                                            <div class="product-info">
                                                <span class="product-name">{{this.product.name}}</span>
                                                <span class="product-variant">{{this.variantDescription}}</span>
                                                <span class="amount"><strong class="product-quantity"> × {{this.quantity}}</strong></span>
                                            </div>
                                        </td>
                                        <td class="product-total">
                                            <span class="amount">{{#currencyUSD this.totalPrice}}{{/currencyUSD}}</span>
                                        </td>
                                    </tr>
                                {{/each}}
                                </tbody>
                                <tfoot>
                                    <tr class="cart-subtotal">
                                        <th>Cart Subtotal</th>
                                        <td><span class="amount">{{#currencyUSD cartSubTotal}}{{/currencyUSD}}</span></td>
                                    </tr>
                                    <tr class="coupon-discount">
                                        <th>Discount {{#if (greaterThan discount 0)}}({{couponCode}}){{/if}}</th>
                                        <td>- <span class="amount">{{#currencyUSD discount}}{{/currencyUSD}}</span></td>
                                    </tr>
                                    <tr class="shipping">
                                        <th>Shipping Fee</th>
                                        <td>$0</td>
                                    </tr>
                                    <tr class="order-total">
                                        <th>Order Total</th>
                                        <td><strong><span class="amount">{{#currencyUSD total}}{{/currencyUSD}}</span></strong>
                                        </td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>

                        <div class="payment-method">
                            <h3>Payment Method</h3>
                            <div class="accordion" id="accordionExample">
                                <!-- Direct Bank Transfer -->
                                <div class="card active">
                                    <div class="card-header" id="headingOne">
                                        <h5 class="mb-0 d-flex align-items-center">
                                            <input type="radio" name="paymentMethod" id="bankTransfer" class="payment-method-radio-input" checked>
                                            <label for="bankTransfer" class="w-100 m-0" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                                Direct Bank Transfer
                                            </label>
                                        </h5>
                                    </div>
                                    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                                        <div class="card-body">
                                            Make your payment directly into our bank account. Please use your Order ID as the payment reference. Your order won’t be shipped until the funds have cleared in our account.
                                        </div>
                                    </div>
                                </div>
                                <!-- Cash on Delivery -->
                                <div class="card">
                                    <div class="card-header" id="headingTwo">
                                        <h5 class="mb-0 d-flex align-items-center">
                                            <input type="radio" name="paymentMethod" id="cashOnDelivery" class="payment-method-radio-input">
                                            <label for="cashOnDelivery" class="w-100 m-0" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                                Cash on Delivery
                                            </label>
                                        </h5>
                                    </div>
                                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                                        <div class="card-body">
                                            Cash on Delivery (COD) is a payment method that allows you to pay for your purchase upon delivery rather than making an upfront payment.
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="order-button-payment mt-20">
                            <button type="submit" class="btn theme-btn">Process Order</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>
<!-- checkout-area end -->

{{> client/footer}}


<script>
    document.addEventListener('DOMContentLoaded', function () {
        const provinceSelect = document.getElementById("province");
        const districtSelect = document.getElementById("district");
        const wardSelect = document.getElementById("ward");

        const phoneInput = document.getElementById("phone");
        const streetInput = document.getElementById("street");


        fetch("/client/json/geographicalData.json")
                .then(response => response.json())
                .then(provinceData => {
                    function loadProvinces() {
                        const fragment = document.createDocumentFragment();
                        provinceData.forEach(province => {
                            const option = document.createElement("option");
                            option.value = province.FullName;
                            option.textContent = province.FullName;
                            fragment.appendChild(option);
                        });
                        provinceSelect.appendChild(fragment);
                    }

                    function updateDistricts() {
                        const provinceFullName = provinceSelect.value;

                        // Clear old options
                        districtSelect.innerHTML = "<option value=''>Select District</option>";
                        wardSelect.innerHTML = "<option value=''>Select Ward</option>";

                        if (provinceFullName) {
                            const province = provinceData.find(p => p.FullName === provinceFullName);
                            if (province) {
                                const fragment = document.createDocumentFragment();
                                province.District.forEach(district => {
                                    const option = document.createElement("option");
                                    option.value = district.FullName;
                                    option.textContent = district.FullName;
                                    fragment.appendChild(option);
                                });
                                districtSelect.appendChild(fragment);
                            }
                        }
                    }

                    function updateWards() {
                        const provinceFullName = provinceSelect.value;
                        const districtFullName = districtSelect.value;

                        // Clear old options
                        wardSelect.innerHTML = "<option value=''>Select Ward</option>";

                        if (provinceFullName && districtFullName) {
                            const province = provinceData.find(p => p.FullName === provinceFullName);
                            const district = province?.District.find(d => d.FullName === districtFullName);
                            if (district) {
                                const fragment = document.createDocumentFragment();
                                district.Ward.forEach(ward => {
                                    const option = document.createElement("option");
                                    option.value = ward.FullName;
                                    option.textContent = ward.FullName;
                                    fragment.appendChild(option);
                                });
                                wardSelect.appendChild(fragment);
                            }
                        }
                    }

                    loadProvinces();

                    provinceSelect.addEventListener("change", () => updateDistricts());
                    districtSelect.addEventListener("change", () => updateWards())
                });

        function selectOrAddValue(selectElement, value, text = value) {
            const option = Array.from(selectElement.options).find(opt => opt.value === value);

            if (option) {
                selectElement.value = value;
            } else {
                const newOption = document.createElement("option");
                newOption.value = value;
                newOption.textContent = text;
                selectElement.appendChild(newOption);

                selectElement.value = value;
            }
        }

        const shippingAddressDiv = document.querySelector('.shipping-address');
        document.querySelectorAll('.address-card').forEach(card => {
            card.addEventListener('click', function () {
                document.querySelectorAll('.address-card').forEach(c => c.classList.remove('active'));
                card.classList.add('active');

                const radio = this.querySelector("input");

                const value = radio.value;

                if (value === "new-address") {
                    shippingAddressDiv.classList.add("show");

                    phoneInput.value = "";
                    streetInput.value = "";

                    provinceSelect.selectedIndex = 0;

                    districtSelect.innerHTML = "<option value=''>Select District</option>";
                    wardSelect.innerHTML = "<option value=''>Select Ward</option>";
                } else {
                    shippingAddressDiv.classList.remove("show");

                    const addresses = {{{JSONstringify user.address}}};
                    const address = addresses[radio.value];

                    selectOrAddValue(provinceSelect, address.province);
                    selectOrAddValue(districtSelect, address.district);
                    selectOrAddValue(wardSelect, address.ward);

                    phoneInput.value = address.phone;
                    streetInput.value = address.street;
                }
            });
        });

        document.querySelectorAll('.payment-method-radio-input').forEach(input => {
            input.addEventListener('change', function () {
                document.querySelectorAll('.card').forEach(card => card.classList.remove('active'));
                if (this.checked) {
                    this.closest('.card').classList.add('active');
                } else {
                    this.closest('.card').classList.remove("active");
                }
            });
        });


        {{#if alert}}
            alert("{{alert}}");

            const url = window.location.origin + window.location.pathname;
            window.history.replaceState({}, document.title, url);
            window.location.reload();
        {{/if}}
    })
</script>