{{> client/preloader}}
{{> client/header}}
{{> client/breadcrumb}}


<!-- shop-area start -->
<section class="shop-details-area pt-100 pb-100">
    <div class="container">
        <div class="row">
            <div class="col-xl-6 col-lg-4">
                <div class="product-details-img mb-10">
                    <div class="tab-content" id="myTabContentpro">
                        {{#each product.images}}
                            <div class="tab-pane fade show {{#ifEqual @index 0}}active{{/ifEqual}}" id="{{@index}}" role="tabpanel">
                                <div class="product-large-img">
                                    <img src="{{this}}" alt="">
                                </div>
                            </div>
                        {{/each}}
                    </div>
                </div>
                <div class="shop-thumb-tab mb-30">
                    <ul class="nav" id="myTab2" role="tablist">
                        {{#each product.images}}
                            <li class="nav-item">
                                <a class="nav-link {{#ifEqual @index 0}}active{{/ifEqual}}" id="{{@index}}" data-toggle="tab" href="#{{@index}}" role="tab" aria-selected="true">
                                    <img src="{{this}}" alt=""> </a>
                            </li>
                        {{/each}}
                    </ul>
                </div>
            </div>
            <div class="col-xl-6 col-lg-8">
                <div class="product-details mb-30 pl-30">
                    <div class="details-cat mb-20">
                        <a href="#">{{product.brand}} - </a>
                        <a href="#">{{product.subcategory}}</a>
                    </div>
                    <h2 class="pro-details-title mb-15">{{product.name}}</h2>
                    <div class="details-price mb-20">
                        <span class="price">$$$</span>
                        <span class="old-price">$$$</span>
                    </div>
                    <div class="product-variant">

                        {{#if names}}
                            <div class="product-name variant-item">
                                <div class="variant-name">
                                    <span>Name</span>
                                </div>
                                <ul class="shop-link variant">
                                    {{#each names}}
                                        <li class="name-select"><a href="#">{{this}}</a></li>
                                    {{/each}}
                                </ul>
                            </div>
                        {{/if}}

                        {{#if colors}}
                            <div class="product-color variant-item">
                                <div class="variant-name">
                                    <span>Colors</span>
                                </div>
                                <ul class="shop-link variant">
                                    {{#each colors}}
                                        <li class="color-select"><a href="#">{{this}}</a></li>
                                    {{/each}}
                                </ul>
                            </div>
                        {{/if}}

                        {{#if sizes}}
                            <div class="product-size variant-item">
                                <div class="variant-name">
                                    <span>Size</span>
                                </div>
                                <ul class="shop-link variant">
                                    {{#each sizes}}
                                        <li class="size-select"><a href="#">{{this}}</a></li>
                                    {{/each}}
                                </ul>
                            </div>
                        {{/if}}

                        <div class="product-desc variant-item">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
                                aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.</p>
                        </div>

                        <div class="product-info-list variant-item">
                            <ul>
                                <li><span>Brands:</span> {{product.brand}}</li>
                                <li><span>Category:</span>{{category.name}}  -  {{product.subcategory}}</li>
                                <li><span>Stock:</span> <span class="in-stock"></span></li>
                            </ul>
                        </div>

                        <div class="product-action-details variant-item">
                            <div class="product-details-action">
                                <form class="purchase-form" action="">
                                    <div class="plus-minus">
                                        <div class="cart-plus-minus"><input type="text" value="1" /></div>
                                    </div>
                                    <button class="details-action-icon wishlist-btn" type="submit"
                                            data-product-id="{{product._id}}">
                                        <i class="fas fa-heart"></i>
                                    </button>
                                    <button class="details-action-icon" type="submit"><i class="fas fa-hourglass"></i></button>
                                    <div class="details-cart mt-40">
                                        <button class="btn theme-btn">purchase now</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-50">
            <div class="col-xl-8 col-lg-8">
                <div class="product-review">
                    <ul class="nav review-tab" id="myTabproduct" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="home-tab6" data-toggle="tab" href="#home6" role="tab" aria-controls="home"
                               aria-selected="true">Description </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="profile-tab6" data-toggle="tab" href="#profile6" role="tab" aria-controls="profile"
                               aria-selected="false">Reviews (2)</a>
                        </li>
                    </ul>
                    <div class="tab-content" id="myTabContent2">
                        <div class="tab-pane fade show active" id="home6" role="tabpanel" aria-labelledby="home-tab6">
                            <div class="desc-text">
                                <p>{{{product.description}}}</p>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="profile6" role="tabpanel" aria-labelledby="profile-tab6">
                            <div class="desc-text review-text">
                                <div class="product-commnets">
                                    {{#each comments}}
                                        <div class="product-commnets-list mb-25 pb-15">
                                            <div class="pro-comments-img">
                                                <img src="img/product/comments/01.png" alt="">
                                            </div>
                                            <div class="pro-commnets-text">
                                                <h4>{{this.user.fullname}} - <span>{{this.createdAt}}</span></h4>
                                                <div class="pro-rating">
                                                    <i class="far fa-star"></i>
                                                    {{#if (greaterThan this.rating 1)}}
                                                        <i class="far fa-star"></i>
                                                    {{else}}
                                                        <i class="far fa-star-o"></i>
                                                    {{/if}}
                                                    {{#if (greaterThan this.rating 2)}}
                                                        <i class="far fa-star"></i>
                                                    {{else}}
                                                        <i class="far fa-star-o"></i>
                                                    {{/if}}
                                                    {{#if (greaterThan this.rating 3)}}
                                                        <i class="far fa-star"></i>
                                                    {{else}}
                                                        <i class="far fa-star-o"></i>
                                                    {{/if}}
                                                    {{#if (greaterThan this.rating 4)}}
                                                        <i class="far fa-star"></i>
                                                    {{else}}
                                                        <i class="far fa-star-o"></i>
                                                    {{/if}}
                                                </div>
                                            </div>
                                        </div>
                                    {{/each}}
                                </div>
                                <div class="review-box mt-50">
                                    <h4>Add a Review</h4>
                                    <div class="your-rating mb-40">
                                        <span>Your Rating:</span>
                                        <div class="rating-list">
                                            <a href="#">
                                                <i class="far fa-star"></i>
                                            </a>
                                            <a href="#">
                                                <i class="far fa-star"></i>
                                            </a>
                                            <a href="#">
                                                <i class="far fa-star"></i>
                                            </a>
                                            <a href="#">
                                                <i class="far fa-star"></i>
                                            </a>
                                            <a href="#">
                                                <i class="far fa-star"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <form class="review-form" action="#">
                                        <div class="row">
                                            <div class="col-xl-12">
                                                <label for="message">YOUR REVIEW</label>
                                                <textarea name="message" id="message" cols="30" rows="10"></textarea>
                                            </div>
                                            <div class="col-xl-12">
                                                <button class="btn theme-btn">Add your Review</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4">
                <div class="pro-details-banner">
                    <a href="#"><img src="/client/img/banner/pro-details.jpg" alt=""></a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- shop-area end -->

<!-- product-area start -->
<section class="product-area pb-100">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="area-title text-center mb-50">
                    <h2>Releted Products</h2>
                    <p>Browse the huge variety of our products</p>
                </div>
            </div>
        </div>
        <div class="product-slider-2 owl-carousel">
            {{#each products}}
                <div class="pro-item">
                    <div class="product-wrapper mb-50">
                        <div class="product-img mb-25">
                            <a href="/product/{{this.slug}}">
                                <img src="{{getFirstImage this.images}}" alt="{{this.name}}">
                                <img class="secondary-img" src="{{getSecondImage this.images}}" alt="{{this.name}}">

                            </a>
                            <div class="product-action text-center">
                                <a href="/product/{{this.slug}}" title="Quick View">
                                    <i class="flaticon-eye"></i>
                                </a>
                                <a href="#" title="Shoppingb Cart">
                                    <i class="flaticon-shopping-cart"></i>
                                </a>
                            </div>
                        </div>
                        <div class="product-content">
                            <div class="pro-cat mb-10">
                                <a href="#">{{this.brand}} - </a>
                                <a href="#">{{this.subcategory}}</a>
                            </div>
                            <h4>
                                <a href="#">{{this.name}}</a>
                            </h4>
                            <div class="product-meta">
                                <div class="pro-price">
                                    <span>${{this.minPrice}} USD </span>
                                    <span class="old-price">${{this.maxPrice}} USD</span>
                                </div>
                            </div>
                            <div class="product-wishlist">
                                <a href="javascript:void(0);" class="wishlist-btn" data-product-id="{{this._id}}" data-action="add">
                                    <i class="far fa-heart"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            {{/each}}
        </div>
    </div>
</section>

{{> client/footer}}

<script>
    const variants = {{{JSONstringify product.variants}}};

    document.addEventListener("DOMContentLoaded", () => {
        const selectNameElements = document.querySelectorAll(".name-select");
        const selectColorElements = document.querySelectorAll(".color-select");
        const selectSizeElements = document.querySelectorAll(".size-select");

        const productPrice = document.querySelector(".price");
        const oldProductPrice = document.querySelector(".old-price");

        const inStock = document.querySelector(".in-stock");

        let selectedName, selectedColor, selectedSize;
        let selectedVariant = findVariant();

        function findVariant(name = null, color = null, size = null) {
            return (
                    variants.find(variant =>
                            (name === null || variant.name === name) &&
                            (color === null || variant.color === color) &&
                            (size === null || variant.size === size)
                    ) || variants[0]
            );
        }

        function getSelectableOptions(variants, filterFn, key) {
            return [...new Set(variants.filter(filterFn).map(variant => variant[key]))];
        }

        function refreshSelectedVariant() {
            updateSelection(selectNameElements, selectedName, selectedName, "active");
            updateSelection(selectColorElements, selectedColor, getSelectableOptions(variants, v => v.name === selectedName, "color"), "disabled");
            updateSelection(selectSizeElements, selectedSize, getSelectableOptions(variants, v => v.name === selectedName && v.color === selectedColor, "size"), "disabled");
        }

        function updateSelection(elements, selectedValue, validValues, disabledClass = "disabled") {
            elements.forEach(el => {
                const value = el.textContent.trim();
                el.className = el.className.split(' ')[0];
                if (validValues instanceof Array && !validValues.includes(value)) {
                    el.classList.add(disabledClass);
                } else if (value === selectedValue) {
                    el.classList.add("active");
                }
            });
        }

        function selectVariant(variant) {
            if (!variant) throw new Error("Invalid variant");

            selectedName = variant.name;
            selectedColor = variant.color;
            selectedSize = variant.size;

            productPrice.textContent = `$${variant.salePrice || variant.price}`;
            oldProductPrice.textContent = variant.salePrice ? `$${variant.price}` : "";

            inStock.textContent = selectedVariant.stock || "0";

            selectedVariant = variant;
            refreshSelectedVariant();
        }

        function addClickListener(elements, findVariantArgs) {
            elements.forEach(el => {
                el.addEventListener("click", event => {
                    event.preventDefault();
                    if (!el.classList.contains("disabled") && !el.classList.contains("active")) {
                        selectVariant(findVariant(...findVariantArgs(el.textContent.trim())));
                    }
                });
            });
        }

        addClickListener(selectNameElements, name => [name]);
        addClickListener(selectColorElements, color => [selectedName, color]);
        addClickListener(selectSizeElements, size => [selectedName, selectedColor, size]);

        selectVariant(selectedVariant);
    });
</script>