{{> admin/sidebar}}
{{> admin/header}}

<section>
    <div class="container-fluid">
        <div class="row ">
            <div class="col-lg-10 col-md-8 ml-auto">
                <div class="row align-items-center pt-md-5 mt-md-5 mb-5">
                    <div class="col-12">
                        {{#if (includes role.permissions 'product_edit')}}
                            <div class="card">
                            <div class="card-title text-center mt-3">
                                <h3>Edit Product</h3>
                            </div>
                            <div class="card-body">
                                <form id="edit-product-form" action="{{prefixAdmin}}/products/edit/{{product._id}}?_method=PATCH" method="POST" enctype="multipart/form-data">
                                    <div class="form-group">
                                        <label for="name">Product Name:</label>
                                        <input type="text" class="form-control" id="name" name="name"
                                               placeholder="Enter Product Name" value="{{product.name}}" required>
                                        <div class="invalid-feedback">Product Name Can't Be Empty</div>
                                    </div>
                                    <div class="form-group">
                                        <label for="description">Product Description:</label>
                                        <textarea class="form-control textarea-mce" id="description"
                                                  placeholder="Enter Product Description" name="description" rows="5">{{product.description}}</textarea>
                                        <div class="invalid-feedback">Product Description Can't Be Empty</div>
                                    </div>

                                    <div class="form-group">
                                        <label for="brand">Product Brand:</label>
                                        <input type="text" class="form-control" id="brand" name="brand"
                                               placeholder="Enter Product Brand" value="{{product.brand}}" required>
                                        <div class="invalid-feedback">Product Brand Can't Be Empty</div>
                                    </div>

                                    <div class="form-group">
                                        <label for="category">Product Category:</label>
                                        <select class="form-select form-control" id="category" name="category" required>
                                            {{#each categories}}
                                                <option value="{{this.name}}" {{#ifEqual this.name ../productCategory.name}}selected{{/ifEqual}}>{{this.name}}</option>
                                            {{/each}}
                                        </select>
                                        <div class="invalid-feedback">Please select a category.</div>
                                    </div>


                                    <div class="form-group">
                                        <label for="subcategory">Product Subcategory:</label>
                                        <select class="form-select form-control" id="subcategory" name="subcategory" required>
                                            <option value="{{product.subcategory}}">{{product.subcategory}}</option>
                                            {{#each productCategory.subcategories}}
                                                <option value="{{this}}">{{this}}</option>
                                            {{/each}}
                                        </select>
                                        <div class="invalid-feedback">Please select a subcategory.</div>
                                    </div>

                                    <div class="form-group">
                                        <label for="gender">Product Gender:</label>
                                        <select class="form-select form-control" id="gender" name="gender" required>
                                            <option value="unisex" {{#ifEqual product.gender 'unisex'}}selected{{/ifEqual}}>Unisex</option>
                                            <option value="male"   {{#ifEqual product.gender 'male'}}selected{{/ifEqual}}>Male</option>
                                            <option value="female" {{#ifEqual product.gender 'female'}}selected{{/ifEqual}}>Female</option>
                                        </select>
                                    </div>

                                    <div class="form-group">
                                        <label for="status">Product Status:</label>
                                        <select class="form-select form-control" id="status" name="status">
                                            <option value="active" {{#ifEqual product.status "active"}}selected{{/ifEqual}}>Active</option>
                                            <option value="inactive" {{#ifEqual product.status "inactive"}}selected{{/ifEqual}}>Inactive</option>
                                        </select>
                                    </div>

                                    <p>Product Images:</p>
                                    <div class="custom-file">
                                        <input type="file" accept="image/*" class="custom-file-input" id="product-images" name="productImages" multiple>
                                        <label id="product-images-label" class="custom-file-label" for="product-images">Choose files...</label>
                                        <div class="invalid-feedback">File Format Not Supported</div>
                                    </div>
                                    <div id="product-image-preview-container" class="image-preview-container row mt-3">
                                        {{#each product.images}}
                                            <div class='col-6 col-md-4 col-lg-3 mb-3'>
                                                <img src="{{this}}" alt="product-img" class="img-fluid rounded" style="max-height: 150px">
                                            </div>
                                        {{/each}}
                                    </div>

                                    <input type="hidden" id="is-product-images-changed" name="isProductImagesChanged" value=false>

                                    <div class="form-group">
                                        <label for="tags">Product Tags:</label>
                                        <input type="text" class="form-control" id="tags" name="tags"
                                               placeholder="Enter Product Tags" value="{{normalizedTags}}">
                                    </div>

                                    <!-- Variants -->
                                    <div class="form-group mt-3">
                                        <div id="variants-container">
                                            <p class="mb-2">Product Variants</p>

                                            {{#each product.variants}}

                                                <input type="hidden" id="variant-sku-{{@index}}" name="variants[{{@index}}].originalSKU" value={{this.sku}}>

                                                <div class="align-items-end variant-item mb-3 border p-3">
                                                    <div class="form-row">
                                                        <div class="col">
                                                            <label for="variant-name">Variant Name</label>
                                                            <input type="text" class="form-control" name="variants[{{@index}}].name"
                                                                   placeholder="Enter Product Variant Name" value="{{this.name}}">
                                                        </div>
                                                        <div class="col">
                                                            <label for="variant-color">Color</label>
                                                            <input type="text" class="form-control" name="variants[{{@index}}].color"
                                                                   placeholder="Enter Color" value="{{this.color}}" required>
                                                        </div>
                                                        <div class="col">
                                                            <label for="variant-size">Size</label>
                                                            <input type="text" class="form-control" name="variants[{{@index}}].size"
                                                                   placeholder="Enter Size" value="{{this.size}}" required>
                                                        </div>
                                                        <div class="invalid-feedback invalid-variant-sku" style="text-align: center">Please fill in at least one of the three fields above.</div>
                                                    </div>
                                                    <div class="form-row mt-2">
                                                        <div class="col">
                                                            <label for="variant-stock">Quantity</label>
                                                            <input type="number" class="form-control" name="variants[{{@index}}].stock"
                                                                   placeholder="Enter Quantity" value="{{this.stock}}">
                                                            <div class="invalid-feedback">Please enter a valid quantity</div>
                                                        </div>
                                                        <div class="col">
                                                            <label for="variant-cost-price">Cost Price</label>
                                                            <input type="number" class="form-control" name="variants[{{@index}}].costPrice"
                                                                   placeholder="Enter Cost Price" value="{{this.costPrice}}">
                                                            <div class="invalid-feedback">Please enter a valid cost price</div>
                                                        </div>
                                                    </div>
                                                    <div class="form-row mt-2">
                                                        <div class="col">
                                                            <label for="variant-price">Price</label>
                                                            <input type="number" class="form-control" name="variants[{{@index}}].price"
                                                                   placeholder="Enter Price" value="{{this.price}}">
                                                            <div class="invalid-feedback">Please enter a valid price</div>
                                                        </div>
                                                        <div class="col">
                                                            <label for="variant-sale-price">Sale Price</label>
                                                            <input type="number" class="form-control" name="variants[{{@index}}].salePrice"
                                                                   placeholder="Enter Sale Price" value="{{this.salePrice}}">
                                                            <div class="invalid-feedback">Please enter a valid sale price</div>
                                                        </div>
                                                    </div>
                                                    <div class="form-row mt-2">
                                                        <p class="mt-2 ml-1 mr-1 mb-2">Variant Image:</p>
                                                        <div class="custom-file ml-1 mr-1">
                                                            <input type="file" id="variant-image-{{@index}}" class="custom-file-input" name="variants[{{@index}}].image">
                                                            <label id="variant-image-label-{{@index}}" class="custom-file-label" for="variant-image-{{@index}}">Choose
                                                                file...</label>
                                                            <div class="invalid-feedback">File Format Not Supported</div>
                                                        </div>
                                                    </div>
                                                    <div class="form-row">
                                                        <div class="col-12">
                                                            <div id="variant-image-preview-container-{{@index}}" class="image-preview-container row mt-3">
                                                                {{#if this.image}}
                                                                    <div class='col-6 col-md-4 col-lg-3 mb-3'>
                                                                        <img src="{{this.image}}" alt="product-img" class="img-fluid rounded" style="max-height: 150px">
                                                                    </div>
                                                                {{/if}}
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <input type="hidden" id="is-variant-image-changed-{{@index}}" name="variants[{{@index}}].isImageChanged" value=false>

                                                    <div class="form-row">
                                                        <div class="col-auto">
                                                            <button type="button" class="btn btn-danger remove-variant mt-4" button-delete-variant>Remove</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            {{/each}}
                                        </div>

                                        <button type="button" class="btn btn-info mb-3" id="add-variant-btn">Add Variant</button>
                                    </div>

                                    <button class="btn btn-dark mt-5 mx-auto d-block" style="height: 50px; width: 140px" type="submit">Save
                                        Product</button>
                                </form>
                            </div>
                        </div>
                        {{/if}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    // Remove duplicated value in subcategory
    const subcategorySelect = document.getElementById('subcategory');
    const uniqueOptions = [...new Set([...subcategorySelect.options].map(option => option.value))]
            .map(value => [...subcategorySelect.options].find(option => option.value === value));
    subcategorySelect.innerHTML = '';
    uniqueOptions.forEach(option => subcategorySelect.appendChild(option));

    // Change subcategories values
    document.getElementById('category').addEventListener('change', function() {

        const categoryName = this.value;

        subcategorySelect.innerHTML = '<option value="">Select Subcategory</option>';

        const category = {{{JSONstringify categories}}};
        const selectedCategory = category.find(c => c.name === categoryName);

        if (selectedCategory) {
            selectedCategory.subcategories.forEach(subcategory => {
                const option = document.createElement('option');
                option.value = subcategory;
                option.textContent = subcategory;
                subcategorySelect.appendChild(option);
            });
        }
    });
</script>

<script src="/admin/js/editProduct.js"></script>
<script src="/tinymce/tinymce.min.js"></script>
<script src="/admin/js/tinymce.config.js"></script>
