

<!-- Table Start -->
<section>
    <div class="container-fluid">
        <div class="row ">
            <div class="col-lg-10 col-md-8 ml-auto">
                <div class="row align-items-center pt-md-5 mt-md-5 mb-5">
                    <div class="col-10 mb-4 mb-xl-0"></div>
                    <div class="col-2 mb-4 mb-xl-0">
                        <a href="{{prefixAdmin}}/products/create" class="btn btn-outline-success text-center">
                            <i class="fa fa-plus-circle fa-lg mr-1"></i>Create new</a>
                    </div>
                    <!-- First Table -->
                    <div class="col-12 mb-4 mb-xl-0">
                        <h4 class="text-muted text-center mb-3">Products</h4>
                        <table class="table bg-light table-striped  text-center" id="allproduct">
                            <thead>
                                <tr class="text-muted">
                                    <th>#SL</th>
                                    <th>Product Image</th>
                                    <th>Product Name</th>
                                    <th>Price</th>
                                    <th>Status</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                {{#each products}}

                                    <tr>
                                        <th class="align-middle">{{#add @index 1}}{{/add}}</th>
                                        <td class="align-middle">
                                            <img src="{{this.thumbnail}}" width="70px" alt="{{this.name}}">
                                        </td>
                                        <td class="align-middle">{{this.name}}</td>
                                        <td class="align-middle">${{this.minPrice}} - ${{this.maxPrice}}</td>
                                        <td class="align-middle">
                                            {{#ifEqual this.status 'active'}}
                                                <a  href="javascript:;"
                                                    class="badge badge-success"
                                                    button-change-status>Active {{this.status}}</a>
                                            {{else}}
                                                <a  href="javascript:;"
                                                    class="badge badge-danger"
                                                    button-change-status>Inactive  {{this.status}}</a>
                                            {{/ifEqual}}
                                        </td>
                                        <td class="align-middle">
                                            <a href="#" class="btn btn-sm btn-outline-secondary">Detail</a>
                                            <a href="#" class="btn btn-sm btn-outline-primary">Edit</a>
                                            <button class="btn btn-sm btn-outline-danger"
                                                    data-id="{{this._id}}"
                                                    button-delete>Delete</button>
                                        </td>
                                    </tr>
                                {{/each}}

                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Table End -->

<form action="" method="POST" id="form-delete-item" data-path="{{prefixAdmin}}/products/delete">
</form>

<script src="js/product.js"></script>