<!-- Table Start -->
<section>
    <div class="container-fluid">
        <div class="row ">
            <div class="col-lg-10 col-md-8 ml-auto">
                <div class="row align-items-center pt-md-5 mt-md-5 mb-5">
                    <!-- First Table -->
                    <div class="col-12 mb-4 mb-xl-0">
                        <h4 class="text-muted text-center mb-3">Products</h4>
                        <table class="table bg-light table-striped  text-center" id="allproduct">
                            <thead>
                                <tr class="text-muted">
                                    <th>#SL</th>
                                    <th>Product Image</th>
                                    <th>Product Name</th>
                                    <th>Price</th>
                                    <th>Status</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                {{#each products}}
                                    <tr>
                                        <th class="align-middle">{{#add @index 1}}{{/add}}</th>
                                        <td class="align-middle">
                                            <img src="{{this.thumbnail}}" width="70px" alt="{{this.name}}">
                                        </td>
                                        <td class="align-middle">{{this.name}}</td>
                                        <td class="align-middle">${{this.minPrice}} - ${{this.maxPrice}}</td>
                                        <td class="align-middle">
                                            {{#ifEqual this.status 'active'}}
                                                <a  href="javascript:;"
                                                    class="badge badge-success"
                                                    button-change-status">Active</a>
                                            {{else}}
                                                <a  href="javascript:;"
                                                    class="badge badge-danger"
                                                    button-change-status>Inactive</a>
                                            {{/ifEqual}}
                                        </td>
                                        <td class="align-middle">
                                            <a href="#" class="btn btn-sm btn-outline-secondary">Detail</a>
                                            <a href="#" class="btn btn-sm btn-outline-primary">Edit</a>
                                            <button class="btn btn-sm btn-outline-danger">Delete</button>
                                        </td>
                                    </tr>
                                {{/each}}

                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Table End -->

