<div class="col-lg-2 col-md-4 fixed-top sidebar">
    <a href="{{prefixAdmin}}"
       class="navbar-brand text-light d-block mx-auto text-center py-3 mb-4 bottom-border"><img
            src="/admin/img/Admin.webp" class="img-fluid" width="100px" alt="logo"></a>

    <div class="bottom-border pb-3">
        <img src="/admin/img/profile.jpg" alt="avatar" width="60" class="rounded-circle">
        <a href="#" class="text-light">Unknown</a>
    </div>

    <div class="sidebar-wrap">
        <ul class="navbar-nav flex-column mt-5">
            <li class="nav-item">
                <a href="{{prefixAdmin}}"
                   class="nav-link text-light p-3 mb-2 sidebar-link
                {{#ifEqual currentPage "dashboard"}}current{{/ifEqual}}">
                    <i class="fa fa-home text-light fa-lg mr-3"></i>Dashboard
                </a>
            </li>
            <li class="nav-item">
                <a href="{{prefixAdmin}}/products"
                   class="nav-link text-light p-3 mb-2 sidebar-link
                {{#ifEqual currentPage "products"}}current{{/ifEqual}}">
                    <i class="fa fa-database text-light fa-lg mr-3"></i>Product
                </a>
            </li>
            <li class="nav-item">
                <a href="{{prefixAdmin}}/categories"
                   class="nav-link text-light p-3 mb-2 sidebar-link
                {{#ifEqual currentPage "categories"}}current{{/ifEqual}}">
                    <i class="fa fa-folder-open text-light fa-lg mr-3"></i>Category
                </a>
            </li>
            <li class="nav-item">
                <a href="{{prefixAdmin}}/roles"
                   class="nav-link text-light p-3 mb-2 sidebar-link
                {{#ifEqual currentPage "roles"}}current{{/ifEqual}}">
                    <i class="fa fa-gear text-light fa-lg mr-3"></i>Role
                </a>
            </li>
        </ul>
    </div>
</div>