<div class="col-lg-2 col-md-4 fixed-top sidebar">
    <a href="{{prefixAdmin}}/dashboard"
       class="navbar-brand text-light d-block mx-auto text-center py-3 mb-4 bottom-border"><img
            src="/client/img/logo/logo-white.png" class="img-fluid" style="max-height: 40px" alt="logo"></a>

    <div class="bottom-border pb-3 d-flex justify-content-center align-items-center">
        <img src="{{user.avatar}}" alt="avatar" width="60" height="60" class="rounded-circle mx-2">
        <div class="d-block justify-content-center align-items-center">
            <a href="#" class="text-light"><strong>{{user.name}}</strong></a>
            <br>
            <span class="text-light text-center">{{role.name}}</span>
        </div>
    </div>

    <div class="sidebar-wrap">
        <ul class="navbar-nav flex-column mt-5">
            <li class="nav-item">
                <a href="{{prefixAdmin}}/dashboard"
                   class="nav-link text-light p-2 mb-2 sidebar-link
                {{#ifEqual currentPage "dashboard"}}current{{/ifEqual}}">
                    <i class="fa fa-home text-light fa-lg mr-3"></i>Dashboard
                </a>
            </li>
            {{#if (includes role.permissions 'product_view')}}
                <li class="nav-item">
                    <a href="{{prefixAdmin}}/products"
                       class="nav-link text-light p-2 mb-2 sidebar-link
                    {{#ifEqual currentPage "products"}}current{{/ifEqual}}">
                        <i class="fa fa-database text-light fa-lg mr-3"></i>Product
                    </a>
                </li>
            {{/if}}
            {{#if (includes role.permissions 'category_view')}}
                <li class="nav-item">
                    <a href="{{prefixAdmin}}/categories"
                       class="nav-link text-light p-2 mb-2 sidebar-link
                    {{#ifEqual currentPage "categories"}}current{{/ifEqual}}">
                        <i class="fa fa-folder-open text-light fa-lg mr-3"></i>Category
                    </a>
                </li>
            {{/if}}
            {{#if (includes role.permissions 'coupon_view')}}
                <li class="nav-item">
                    <a href="{{prefixAdmin}}/coupons"
                       class="nav-link text-light p-2 mb-2 sidebar-link
                    {{#ifEqual currentPage "coupons"}}current{{/ifEqual}}">
                        <i class="fa fa-tags text-light fa-lg mr-3"></i>Coupon
                    </a>
                </li>
            {{/if}}
            {{#if (includes role.permissions 'role_view')}}
                <li class="nav-item">
                    <a href="{{prefixAdmin}}/roles"
                       class="nav-link text-light p-2 mb-2 sidebar-link
                    {{#ifEqual currentPage "roles"}}current{{/ifEqual}}">
                        <i class="fa fa-gear text-light fa-lg mr-3"></i>Role
                    </a>
                </li>
            {{/if}}
            {{#if (includes role.permissions 'account_view')}}
                <li class="nav-item">
                    <a href="{{prefixAdmin}}/accounts"
                       class="nav-link text-light p-2 mb-2 sidebar-link
                    {{#ifEqual currentPage "accounts"}}current{{/ifEqual}}">
                        <i class="fa fa-user-circle text-light fa-lg mr-3"></i>Account
                    </a>
                </li>
            {{/if}}
            {{#if (includes role.permissions 'user_view')}}
                <li class="nav-item">
                    <a href="{{prefixAdmin}}/users"
                       class="nav-link text-light p-2 mb-2 sidebar-link
                        {{#ifEqual currentPage "users"}}current{{/ifEqual}}">
                        <i class="fa fa-users text-light fa-lg mr-3"></i>User
                    </a>
                </li>
            {{/if}}
            {{#if (includes role.permissions 'order_view')}}
                <li class="nav-item">
                    <a href="{{prefixAdmin}}/orders"
                       class="nav-link text-light p-2 mb-2 sidebar-link
                        {{#ifEqual currentPage "orders"}}current{{/ifEqual}}">
                        <i class="fa fa-shopping-basket text-light fa-lg mr-3"></i>Order
                    </a>
                </li>
            {{/if}}
        </ul>
    </div>
</div>