<footer class="{{#unless isHome}}footer-area pl-100 pr-100{{/unless}}">
    <div class="footer-area box-90 pt-100 pb-60" {{#unless isHome}}data-background="/client/img/bg/footer.jpg" style="background-image: url('/client/img/bg/footer.jpg')"{{/unless}}>
        <div class="container-fluid">
            <div class="row">
                <div class="{{#if isHome}}col-xl-3 col-lg-5{{else}}col-xl-5 col-lg-{{/if}} col-md-6 ">
                    <div class="footer-widget mb-40 {{#unless isHome}}pr-70{{/unless}}">
                        <div class="footer-logo">
                            <a href="/"><img src="/client/img/logo/footer-logo.png" alt=""></a>
                        </div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore mag na
                            aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                        </p>
                        <div class="footer-time d-flex mt-30">
                            <div class="time-icon">
                                <img src="/client/img/icon/time.png" alt="">
                            </div>
                            <div class="time-text">
                                <span>Got Questions ? Call us 24/7!</span>
                                <h2>(0600) 874 548</h2>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-2 col-md-3 {{#if isHome}}col-lg-2 d-lg-none d-xl-block{{else}}col-lg-3{{/if}}">
                    <div class="footer-widget pl-50 mb-40">
                        <h3>Social Media</h3>
                        <ul class="footer-link">
                            <li><a href="#">Facebook</a></li>
                            <li><a href="#">Twitter</a></li>
                            <li><a href="#">Behance</a></li>
                            <li><a href="#"> Dribbble</a></li>
                            <li><a href="#">Linkedin</a></li>
                            <li><a href="#">Youtube</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 d-xl-block {{#if isHome}}col-xl-2 d-lg-none{{else}}col-xl-3 d-md-none{{/if}}">
                    <div class="footer-widget mb-40 {{#if isHome}}pl-30{{else}}pl-50{{/if}}">
                        <h3>Location</h3>
                        <ul class="footer-link">
                            <li><a href="#">New York</a></li>
                            <li><a href="#">Tokyo</a></li>
                            <li><a href="#">Dhaka</a></li>
                            <li><a href="#"> Chittagong</a></li>
                            <li><a href="#">China</a></li>
                            <li><a href="#">Japan</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-2 col-md-3 {{#if isHome}}col-lg-2{{else}}col-lg-3{{/if}}">
                    <div class="footer-widget mb-40">
                        <h3>About</h3>
                        <ul class="footer-link">
                            <li><a href="#">Terms & Conditions</a></li>
                            <li><a href="#"> Privacy Policy</a></li>
                            <li><a href="#">Contact Us</a></li>
                            <li><a href="#">FAQ</a></li>
                            <li><a href="#">Wholesale</a></li>
                            <li><a href="#">Direction</a></li>
                        </ul>
                    </div>
                </div>
                {{#if isHome}}
                    <div class="col-xl-3 col-lg-5 col-md-6">
                        <div class="footer-widget mb-40">
                            <div class="footer-banner">
                                <a href="shop.html"><img src="/client/img/banner/add.jpg" alt=""></a>
                            </div>
                        </div>
                    </div>
                {{/if}}
            </div>
        </div>
    </div>
    <div class="copyright-area box-105">
        <div class="container-fluid">
            <div class="pt-30 pb-30 {{#if isHome}}copyright-border{{/if}}">
                <div class="row">
                    {{#if isHome}}
                        <div class="col-xl-6 col-lg-6 col-md-6">
                            <div class="copyright text-center text-md-left">
                                <p>Copyright © 2024 <a href="/">XXX</a>. All Rights Reserved</p>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6">
                            <div class="footer-icon text-center text-md-right ">
                                <a href="#"><i class="fab fa-facebook-f"></i></a>
                                <a href="#"><i class="fab fa-twitter"></i></a>
                                <a href="#"><i class="fab fa-behance"></i></a>
                                <a href="#"><i class="fab fa-linkedin-in"></i></a>
                                <a href="#"><i class="fab fa-youtube"></i></a>
                            </div>
                        </div>
                    {{else}}
                        <div class="col-xl-12">
                            <div class="copyright text-center">
                                <p>Copyright © 2024 <a href="/">XXX</a>. All Rights Reserved</p>
                            </div>
                        </div>
                    {{/if}}
                </div>
            </div>
        </div>
    </div>
</footer>